@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e3e3e3;
    font-family: 'Open Sans', sans-serif;
    color: #2e2e2e;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-hehgith: 100vh;
    width: 100%;
}

.container h1 {
    font-size: 72px;
    font-weight: 700;
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.score-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
    width: 400px;
}

.score-container .score-text,
.score-container .score-value {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.score-value {
    background-color: #dc2804;
    width: 200px;
    height: 30px;
    display: flex;
    color: #ffffff;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.grid {
    background-color: #565656;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

.grid .item {
    align-items: center;
    background-color: #ffc679;
    border-radius: 8px;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    height: 93px;
    justify-content: center;
    width: 93px;
}

.game-status {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.game-status #result {
    color: #ffffff;
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.game-status .btn-close {
    border: none;
    border-radius: 5px;
    padding: 14px 24px;
    font: inherit;
    font-weight: 700;
    background-color: #ff9c4e;
}

.game-status .btn-close:hover {
    background-color: #dc2804;
}

.game-status.show {
    display: flex;
}

.game-status.hide {
    display: none;
}
